.wrap {
  height: 100%;
  resize: contain;
  background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_363894.jpg);
  background-size: cover;
  background-position:top
}

.layout {
  height: 100%;
}
