.header {
  background-color: transparent;
  padding-top: 5%;
  padding-bottom: 0%;
  text-align: center;
  font-size:40px;
  height: auto;
  font-weight: bold;
  border-bottom: 0%;
  margin-bottom: 0%;
}
#name {
    padding-top: 1%;
    margin-top: 0%;
    font-size: 60px;
}

#content {
  height: 100%;
  text-align: center;
}

#body {
    padding: 5%;
}

#Resume-button {
    background-color: white;
    border: 2px solid rgb(197, 200, 204);
    font-size: 20px;
    border-radius: 7%;
    padding: 10px;
    transition-duration: 0.4s;
}

#Resume-button:hover {
    background-color: rgb(197, 200, 204);
}
